<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf8>
        <link href="http//allfont.ru/allfont.css?fonts=ubuntu"
        rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('/web/css/style.css') }}">
    </head>
    <body>

<div>
    <header>
        
  <h2>Билет {{numTest}}</h2>
   <h3>      {% if category == "P1" %}
        <!--  if it's P1, what to show -->
          ПДД для всех категорий
          {% else %}
        <!--  For others categories-->
          Категория {{category | easyName}}<br> {{category | nameIt}}
          {% endif %}
         </h3>
    <br>
    </header>
  
<div id="content">
{#  top menu #}
   <a href="{{ path('quizz_category', {'id':category}) }}">  Вернуться к списку билетов </a>

{#  progress bar
  <progress value="{{correctAnswers| length}}" max="{{numberOfQuestions}}"></progress> {{correctAnswers| length}}/{{numberOfQuestions}}
 #}
 <br>
   <div id="instance">
       {% if not finished %}

           {#when quizz is finished#}
           {% include 'test.quiz.html.twig' %}

 {% else %}
     {#when quizz is finished#}
    {% include 'test.finish.html.twig' %}
   {% endif %}
</div>
 <footer>
            <span class="contacts">
                <a href="http://www.virmain.ru/"><img id="logo1" src="{{ asset('/web/img/logo1.png') }}"></a><br>
                 Учебный центр профессиональной квалификации «ВИРМАЙН»
            </span>
            <span class="contacts"><img class="icons" src="{{ asset('/web/img/Adress.PNG') }}"><br>300057 г.Тула, ул. Пузакова, д.20
            </span>
            <span class="contacts"><img class="icons" src="{{ asset('/web/img/mail.png') }}"><br>nou-virmain@mail.ru
            </span>
             <span class="contacts"><img class="icons" src="{{ asset('/web/img/phone.png') }}"><br>+7 (4872) 47-52-21
            </span>
        </footer>
  <script src="https://cdn.jsdelivr.net/vue/1.0.16/vue.js"></script>
 <script type="text/javascript">
     {% include 'test.js.twig' %}
</script>

</body>

</html>

