{% extends "../base.html.twig" %}

{% block title %}Quizz - Категория {{category | easyName}}, {{category | nameIt}} {% endblock %}
{% block head %}
    {{ parent() }}
    
        <link rel="stylesheet" href="{{ asset('/web/css/style.css') }}">
{% endblock %}
{% block content %}
<div>
    <header>
        
  <h2>Билет {{numTest}}</h2>
   <h3> Категория {{category | easyName}}, {{category | nameIt}}</h3>
    <br>
    </header>
  

{#  top menu #}
   <a href="{{ path('quizz_home') }}">  Выбрать билет </a>
  <br>

  <br>
{#  progress bar
  <progress value="{{correctAnswers| length}}" max="{{numberOfQuestions}}"></progress> {{correctAnswers| length}}/{{numberOfQuestions}}
 #}
 <br>
  

  <br>
  
  <div id="table">
      {#  display of correct/failed answers#}
{#      {% for r in correctAnswers%}
         
             <div class="cell {{ (r) ? 'correct' : 'wrong' }}" >{{r}}</div>
      {% endfor %}#}
  
  

        {% for i in 1..numberOfQuestions%}
        
           
             
             {% if correctAnswers is not empty and i <= (correctAnswers|length) %}
             
               <div class="cell  {{ (correctAnswers[i-1] ) ? 'correct' : 'wrong' }}" >{{i}}</div>
               
             {% else %}
             
               <div class="cell" >{{i}}</div>
             {% endif %}
             
        {% endfor %}

    </div>
    
<br/>
  
    {% if not finished %}
{#  picture#}
  <img src="{{ asset('/web/images/'~question.addr) }}"> <br/>
  
  
{# debug text  
  numQuestion : {{question.numQuestion}},
  quantityAns : {{question.quantityAns}},
  correctAnswer : {{question.correctAnswer}}:{{ asset('/web/images/'~question.addr) }} <br>
 
   #} 
   
 {# answers#}
 
   <div id="instance">
       
       
       {% raw %}
         <span id="showResult">{{ correctResult }}    </span>
       {% endraw %}
       
       
          {% if numQuestion != numberOfQuestions %}
          <form action="{{ path('quizz_question',{'category':category,'numTest':numTest,'numQuestion':numQuestion+1})}}" method="POST">
              {% else %}
          <form action="{{ path('quizz_question',{'category':category,'numTest':numTest,'numQuestion':numQuestion})}}" method="POST">
         {% endif %}
 
 

              {# Display of answers #}
            
              {% for i in 1..question.quantityAns  %}
              
              <label class="radio-inline" for="a{{i}}" id="l{{i}}"><input type="radio" id="a{{i}}" name="answer"  value="{{i}}"  @click="checkCorrectAnswer({{i}})"  :disabled="finished"/> {{i}}</label>
              
                                     
                                   {#  <label for="a{{i}}" id="l{{i}}">{{i}}</label><br />#}
              {% endfor %}
    
              {# /Display of answers #}
          
          
          <input type="hidden" name="questionNumber" value="{{numQuestion}}"/>
         <br/>
          <input type="submit" id="submit" value="ДАЛЕЕ"  v-show="finished" @click="send()">
         </form>
         
  </div>


 {% else %}
{# it will display this message at the end of test#}
    <h3>  Тест завершён!<br></h3>
      Вы ответили правильно на вопросы:<br>
      <h1>{{totalCorrects}}/{{numberOfQuestions}}</h1>
      
     {# failed or succeded #}
      {% if (numberOfQuestions < 5 and (numberOfQuestions-totalCorrects) > 1) or (numberOfQuestions < 10 and (numberOfQuestions-totalCorrects) > 2 )%}
      you failed
      {% else %}
      you succedeed
      {% endif %}
   <form action="{{ path('quizz_category', {'id':category}) }}">
         <input type="submit" id="submit" value="Go back to category"  >
         </form>
   {% endif %}

  <script src="https://cdn.jsdelivr.net/vue/1.0.16/vue.js"></script>
 <script type="text/javascript">
    

  	var vm = new Vue(
  	{
el:'#instance',
data:{
    finished:false,
    correctResult: ''
    
},
methods:
{
    
    checkCorrectAnswer:function(id)
    {

        this.finished = true;
         document.getElementById("l"+{{question.correctAnswer}}).style.color="green";
        if(id == {{question.correctAnswer}}) 
        {
            //CORRECT ANSWER
         this.correctResult = "Правильный ответ!";
         
         document.getElementById("showResult").className += "correct_ans";
        }
        else
        {
            
            //WRONG ANSWER
          this.correctResult = "Неправильный ответ! Правильный ответ: "+{{question.correctAnswer}}; 
           document.getElementById("showResult").className += "wrong_ans";
        }
         
         
    },
    send:function()
    {
        //because disabled button doesnt work
        this.finished =false;
        console.log("send");
    }
    
}
});
</script>

{% endblock %}

